# Resend API Key
RESEND_API_KEY=
VITE_MERCADO_PAGO_PUBLIC_KEY=
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_CLIENT_ID=
MERCADO_PAGO_CLIENT_SECRET=

# Jadlog API v2.3
JADLOG_USER=
JADLOG_TOKEN=
ORIGIN_ZIP_CODE=01001000
JADLOG_CNPJ=
JADLOG_ACCOUNT=
JADLOG_CONTRACT=
JADLOG_MODALIDADE=40,3
JADLOG_MODALIDADE_EXPRESS=40
JADLOG_MODALIDADE_STANDARD=3
JADLOG_CUBIC_FACTOR=6000
ENABLE_SHIPPING_FALLBACK=false
JADLOG_AUTH_USE_BEARER=true
