# Resend API Key
RESEND_API_KEY=
VITE_MERCADO_PAGO_PUBLIC_KEY=
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_CLIENT_ID=
MERCADO_PAGO_CLIENT_SECRET=

# Jadlog API v2.3
JADLOG_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJqdGkiOjM0MDk5LCJkdCI6IjIwMjYwNDIzIn0.5Vd281oCRfFRD1skv0Ec0v48fJMjAgjZCbMaDW-K89s
JADLOG_CNPJ=43990100000115
JADLOG_CONTA=034099
ORIGIN_ZIP_CODE=02521100
JADLOG_CUBIC_FACTOR=6000
